<div class="post-actions">
    <a href="/posts/<% post.id %>" class="btn"><button>View Post</button></a>
    <a href="/posts/<% post.id %>/edit" class="btn"><button>Edit Post</button></a>
    <a href="/posts/<% post.id %>/delete" class="btn"><button>Delete Post</button></a>
</div>