

<div class="box text-center">
    <h1>Are you sure you want to delete the folowning post?</h1>
    <h2>Post Title: <%= post.title %></h2>
    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST" style="display: inline;">
        <button type="submit" class="delete-btn">Delete</button>
      </form>
    <a href="/" class="btn btn-outline-primary"><button>Cancel</button></a>
</div>